/* shared styles */
body {
  /* font-family: "New Amsterdam", sans-serif; */
  /* font-family: "Baskervville SC", serif; */
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 20px;
  background-color: #f5eee4;
}
.btn-primary {
  border-radius: 5px;
  background: #697565;
  border: 0;
  color: white;
  font-weight: 600;
  /* font-size: 16px; */
  padding: 12px 24px;
  margin: 1px 0px 1px 1px;
}
main {
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
}
.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin-top: 1px;
  margin-bottom: 1px;
  display: flex;
  justify-content: space-around;
}
/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1%;
  /* position: fixed;
  width: 100%;
  border-radius: 20px;
  background-color: #3C3D37; Adjust the background color as needed */
}
.nav-title {
  color: black;
  font-size: 30px;
}
.text-primary {
  color: #697565;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style-type: none;
  margin: 10px;
}
nav a {
  text-decoration: none;
  color: #697565;
}
/* header related styles */
.header {
  background-color: #ecdfcc;
  border-radius: 20px;
  box-shadow: 1px 1px 50px 1px rgb(143, 142, 142);
  max-width: 2160px;
  margin: 0 auto;
}

.banner {
  padding: 10px 10px 0px 50px;
  display: flex;
  background-image: url(../images/circles.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 500px;
  justify-content: space-between;
  border-radius: 20px;
}
.banner-content {
  max-width: 50%;
}
/* photo of home page */
.locusimg {
  width: 300px;
}
.greetings {
  margin-bottom: 1px;
}
.user-name {
  margin: 0px 0px 1px 0px;
}
.short-bio {
  margin-top: 5px;
}
.about {
  padding: 50px;
  background-color: #697565;
  border-radius: 20px;
  margin: 75px 0px 75px 0px;
  box-shadow: 1px 1px 30px 1px rgb(94, 93, 93);
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}
.info-title {
  text-align: center;
  margin-bottom: 1px;
  font-weight: 100;
}
.info-description {
  margin-top: 1px;
  font-weight: 700;
}
.what-do-i-do {
  padding: 50px;
  border-radius: 20px;
  margin: 75px 0px 75px 0px;
}
#what-i-do {
  padding: 5px;
  margin-top: 1px;
  /* background-color: #3c3d37a1;
    border-radius: 20px;
    margin: 90px; */
}
.what-i-do-title {
  margin-top: 1px;
}
.skills-container {
  display: flex;
  justify-content: space-around;
}
.skill {
  background-color: #ecdfcc;
  box-shadow: 1px 1px 30px 1px rgb(94, 93, 93);
  padding: 30px;
  max-width: 250px;
  max-height: 600px;
  margin-right: 20px;
  justify-content: space-around;
  border: none;
  border-radius: 20px;
  text-align: center;
}
/* resume styles */

.resume-section-title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin-top: 70px;
  margin-bottom: 1px;
}
.edu-exp-title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 1px;
  display: flex;
  justify-content: space-around;
}
.resume-container {
  display: flex;
  gap: 200px;
  justify-content: space-around;
}
.resume-exp-container {
  max-width: 500px;
}
.btn-dwnld-cv {
  text-align: center;
  margin-top: 70px;
}
/* footer styles */
footer {
  display: flex;
  gap: 250px;
  background-color: #ecdfcc;
  padding: 130px 170px;
  max-width: 2160px;
  border-radius: 20px;
  box-shadow: -1px -1px 50px 1px rgb(143, 142, 142);
  margin: 70px auto 10px;
}
.footer-column {
  width: 50%;
}
.footer-sec-dis {
  max-width: 600px;
}
.contact input,
textarea {
  display: block;
  margin-bottom: 20px;
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  width: 70%;
}
