/* shared styles */
body{
        font-family: "New Amsterdam", sans-serif;
        font-weight: 400;
        font-style: normal;     
}
.btn-primary{
    border-radius: 5px;
    background: #697565;
    border: 0;
    color: white;
    font-weight: 600;
    /* font-size: 16px; */
    padding: 12px 24px;
    margin: 3px;
}
/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2% ;
}
.nav-title{
    color: black;
    font-size: 30;
}
.text-primary {
    color: #697565;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style-type: none;
    margin: 10px;
}
nav a{
    text-decoration: none;
}
/* header related styles */
.header{
    background-color: #ECDFCC;
}

.banner{
    padding: 10px 10px 0px 50px;
    display: flex;
}
.banner-content {
   
}
/* photo of home page */
.locusimg{
    width: 300px;
}